{
  "openapi": "3.1.0",
  "info": {
    "title": "Creators Common Registration API",
    "version": "0.1.0",
    "description": "Controlled intake, review, event and passport-issuance API for Creator and Creation registration. Registration does not itself publish a Virtual Silk Road listing."
  },
  "servers": [
    {
      "url": "https://api.creators-common.org/v1",
      "description": "Illustrative production endpoint"
    },
    {
      "url": "https://sandbox.creators-common.org/v1",
      "description": "Illustrative sandbox endpoint"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/registrations/creators": {
      "post": {
        "operationId": "submitCreatorRegistration",
        "summary": "Submit a Creator registration application",
        "parameters": [
          {"$ref": "#/components/parameters/IdempotencyKey"}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "../../schemas/creator-registration-application.schema.json"}
            }
          }
        },
        "responses": {
          "201": {"description": "Application recorded"},
          "409": {"description": "Idempotency or duplicate-registration conflict"},
          "422": {"description": "Consent, identity or evidence requirements not satisfied"}
        }
      }
    },
    "/registrations/creators/{applicationId}": {
      "parameters": [
        {"$ref": "#/components/parameters/ApplicationId"}
      ],
      "get": {
        "operationId": "getCreatorRegistration",
        "summary": "Retrieve a Creator registration application",
        "responses": {
          "200": {
            "description": "Application",
            "content": {
              "application/json": {
                "schema": {"$ref": "../../schemas/creator-registration-application.schema.json"}
              }
            }
          },
          "404": {"description": "Application not found"}
        }
      }
    },
    "/registrations/creations": {
      "post": {
        "operationId": "submitCreationRegistration",
        "summary": "Submit a Creation registration application",
        "parameters": [
          {"$ref": "#/components/parameters/IdempotencyKey"}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "../../schemas/creation-registration-application.schema.json"}
            }
          }
        },
        "responses": {
          "201": {"description": "Application recorded"},
          "409": {"description": "Idempotency, duplicate or lineage conflict"},
          "422": {"description": "Creator, evidence, rights or safety requirements not satisfied"}
        }
      }
    },
    "/registrations/creations/{applicationId}": {
      "parameters": [
        {"$ref": "#/components/parameters/ApplicationId"}
      ],
      "get": {
        "operationId": "getCreationRegistration",
        "summary": "Retrieve a Creation registration application",
        "responses": {
          "200": {
            "description": "Application",
            "content": {
              "application/json": {
                "schema": {"$ref": "../../schemas/creation-registration-application.schema.json"}
              }
            }
          },
          "404": {"description": "Application not found"}
        }
      }
    },
    "/registrations/{applicationId}/evidence": {
      "parameters": [
        {"$ref": "#/components/parameters/ApplicationId"}
      ],
      "post": {
        "operationId": "attachRegistrationEvidence",
        "summary": "Attach evidence references to an application",
        "parameters": [
          {"$ref": "#/components/parameters/IdempotencyKey"},
          {"$ref": "#/components/parameters/IfMatch"}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": ["evidenceRefs", "purpose"],
                "properties": {
                  "evidenceRefs": {
                    "type": "array",
                    "minItems": 1,
                    "uniqueItems": true,
                    "items": {"type": "string", "minLength": 3, "maxLength": 1000}
                  },
                  "purpose": {"type": "string", "minLength": 3, "maxLength": 1000}
                }
              }
            }
          }
        },
        "responses": {
          "202": {"description": "Evidence attachment recorded and routed to RiverOS"},
          "409": {"description": "Idempotency or application-state conflict"},
          "412": {"description": "Application version mismatch"}
        }
      }
    },
    "/registrations/{applicationId}/reviews": {
      "parameters": [
        {"$ref": "#/components/parameters/ApplicationId"}
      ],
      "post": {
        "operationId": "recordRegistrationReview",
        "summary": "Record a human registration review",
        "parameters": [
          {"$ref": "#/components/parameters/IdempotencyKey"},
          {"$ref": "#/components/parameters/IfMatch"}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "../../schemas/registration-review.schema.json"}
            }
          }
        },
        "responses": {
          "201": {"description": "Review recorded"},
          "403": {"description": "Reviewer or Warden authority not satisfied"},
          "409": {"description": "Review-state or idempotency conflict"},
          "412": {"description": "Application version mismatch"},
          "422": {"description": "Required evidence, permission or human-review fields missing"}
        }
      },
      "get": {
        "operationId": "listRegistrationReviews",
        "summary": "List reviews for an application",
        "responses": {
          "200": {
            "description": "Registration reviews",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "../../schemas/registration-review.schema.json"}
                }
              }
            }
          }
        }
      }
    },
    "/registrations/{applicationId}/events": {
      "parameters": [
        {"$ref": "#/components/parameters/ApplicationId"}
      ],
      "get": {
        "operationId": "listRegistrationEvents",
        "summary": "Read the append-only registration event stream",
        "responses": {
          "200": {
            "description": "Registration events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "../../schemas/registration-event.schema.json"}
                }
              }
            }
          }
        }
      }
    },
    "/registrations/{applicationId}/issue": {
      "parameters": [
        {"$ref": "#/components/parameters/ApplicationId"}
      ],
      "post": {
        "operationId": "issueRegistrationPassport",
        "summary": "Issue a Creator or Creation Passport after accepted review",
        "description": "Creates a passport-issued Registration Event. This endpoint does not create a Virtual Silk Road listing.",
        "parameters": [
          {"$ref": "#/components/parameters/IdempotencyKey"},
          {"$ref": "#/components/parameters/IfMatch"}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": ["acceptedReviewRef", "wardenDecisionRef", "riverosEvidenceEventRef", "requestedPassportType"],
                "properties": {
                  "acceptedReviewRef": {"type": "string", "minLength": 3, "maxLength": 200},
                  "wardenDecisionRef": {"type": "string", "minLength": 3, "maxLength": 200},
                  "riverosEvidenceEventRef": {"type": "string", "minLength": 3, "maxLength": 200},
                  "requestedPassportType": {"type": "string", "enum": ["creator", "creation"]}
                }
              }
            }
          }
        },
        "responses": {
          "201": {"description": "Passport and issuance event created"},
          "403": {"description": "Warden or registration authority denied issuance"},
          "409": {"description": "Passport already issued or idempotency conflict"},
          "412": {"description": "Application version mismatch"},
          "422": {"description": "Accepted human review or evidence chain is incomplete"}
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "DigitalMe access token"
      }
    },
    "parameters": {
      "ApplicationId": {
        "name": "applicationId",
        "in": "path",
        "required": true,
        "schema": {"type": "string", "minLength": 3, "maxLength": 200}
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": true,
        "schema": {"type": "string", "minLength": 8, "maxLength": 200}
      },
      "IfMatch": {
        "name": "If-Match",
        "in": "header",
        "required": true,
        "schema": {"type": "string", "minLength": 1, "maxLength": 200}
      }
    }
  }
}
